beautifulsoup4==4.9.0
cachetools==4.1.0
certifi==2020.4.5.1
chardet==3.0.4
comtypes==1.1.7
Django==2.2.28
django-autoslug-iplweb==1.9.4.dev0
django-cities-light==3.5.0
django-cors-headers==3.1.0
django-restframework==0.0.1
djangorestframework==3.10.2
google-api-core==1.16.0
google-api-python-client==1.8.0
google-auth==1.13.1
google-auth-httplib2==0.0.3
googleapis-common-protos==1.51.0
html-testRunner==1.2.1
httplib2==0.18.0
idna==2.9
Jinja2==2.11.1
MarkupSafe==1.1.1
monotonic==1.5
Pillow==7.1.1
pocketsphinx==0.1.15
progressbar2==3.47.0
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pygame==1.9.6
python-utils==2.3.0
pyttsx3==2.87
pytz==2019.2
pywin32==227
requests==2.23.0
rsa==4.0
selenium==3.141.0
six==1.13.0
soupsieve==2.0
SpeechRecognition==3.8.1
sqlparse==0.3.0
Unidecode==1.1.1
uritemplate==3.0.1
urllib3==1.25.3
virtualenv==16.7.4
virtualenvwrapper-win==1.2.5
wikipedia==1.4.0
